<main>
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <legend>Editar Médico</legend>
            <div class="pure-control-group">
                <label>Id:</label>
                <label id="id" class="alignLeft">{{this.Medico.Id}}</label>
            </div>
            <div class="pure-control-group">
                <label for="crm">CRM:</label>
                <input type="text" id="crm" name="crm" [(ngModel)]="this.Medico.CRM" maxlength="9">
            </div>
            <div class="pure-control-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" [(ngModel)]="this.Medico.Nome" class="pure-input-1-3" maxlength="100">
            </div>
            <div class="pure-control-group">
                <label>Especialidade(s):</label>            
                <div *ngFor="let especialidade of this.Especialidades" style="display: inline-block;">
                    <input type="checkbox" 
                        [id]="especialidade.Id"
                        [value]="especialidade.Nome"
                        [checked]="especialidade.Checked"
                        (change)="onChangeEspecialidade($event)">
                    <label for="{{especialidade.Id}}" style="text-align: left; width: 6em; margin-left: 5px;">{{especialidade.Nome}}</label>
                </div>
            </div>
            <div class="pure-controls">
                <button type="button" (click)="enviar()" class="pure-button pure-button-primary">Alterar</button>
                <button type="button" (click)="desejaExcluir()" class="pure-button dinamico">Excluir</button>
                <button type="button" routerLink="/medicos" class="pure-button ">Voltar</button>
            </div>
        </fieldset>
    </form>
</main>