<main>
    <form class="pure-form pesquisa">
        <fieldset>
            <legend>Lista de medicamentos</legend>
            <label for="id">Id:</label>
            <input type="number" id="id" name="id" [(ngModel)]="this.Id">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" [(ngModel)]="this.Nome" class="pure-input-1-3">
            <button type="button" class="pure-button pure-button-primary" (click)="definirPesquisa()" id="btnPesquisar">Pesquisar</button>
            <button type="button" routerLink="/medicamentos/create" class="pure-button ">Novo</button>
        </fieldset>
    </form>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Data Fab.</th>
                <th>Data Venc.</th>
            </tr>
        </thead>
        <tbody data-list>
            <tr *ngFor="let medicamento of this.Medicamentos">
                <td><a routerLink="/medicamentos/edit/{{medicamento.Id}}">{{medicamento.Id}}</a></td>
                <td class="alignLeft">{{medicamento.Nome}}</td>
                <td>{{medicamento.DataFabricacao | date: 'dd/MM/yyyy'}}</td>
                <td>{{medicamento.DataVencimento | date: 'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</main>